{% extends 'Database/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h2>Hello, {{ user.username }}. One flight</h2>
<hr><br>

<div class="card bg-light shadow-md p-5">
    <div class="card-body">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-info">Update flight</button>
        </form>
    </div>
</div>
<br>
<a href="{% url 'Users:flight-management' %}" class="btn btn-secondary" > Return </a> &nbsp;
<a href="{% url 'Database:delete-flight-man' %}" class="btn btn-danger" > Delete </a>
<br><br>

{% endblock %}